/*Main style sheet for portfolio */



/* set all fonts to those listed below */

* {
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}


/* Set headings to the fonts listed below */


h1, h2, h3, h4, h5, h6 {
    font-family: 'Georgia', Times, 'Times New Roman', serif;
}


/* add in the background pattern */

body {
    background-image: url("../images/what-the-hex/what-the-hex.png");
}

/* style the header bar */

#header-bar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #ffffff;
    height: 96px;
    padding: 0;
    margin: 0;
}

#center-header {
    width: 960px;
    height: auto;
    text-align: center;
    background-color: #ffffff;
    padding: 0;
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
}

#header-name {
    background-color: #4aaaa5;
    margin: 0;
    width: 30%;
    height: 36px;
    padding: 30px 0;
    font-size: 23px;
    float: left;
    color: #ffffff;
}

#nav-links{
    float: right;
    list-style-type: none;
    height: 96px;
    padding: 30px 0;
}

.link-items {
    display: inline;
    color: #777777;
    padding: 0 5px;
    cursor: pointer;

}

.link-border{
    border-width: 0 1px 0 0;
    border-color: #777777;
    border-style: solid;
}


/*style the content sections*/

section{
    width: 960px;
    padding:0;
    margin-left: auto;
    margin-right: auto;
}

.profile-image{
    width: 200px;
    height: auto;
}








/* Styling Footer */

footer {
    position: fixed;
    width: 100%;
    height: 48px;
    bottom: 0;
    left: 0;
    text-align: center;
    background-color: #666666;
    color: #ffffff;
    border-width: 5px 0 0 0 ;
    border-color: #4aaaa5;
    border-style: solid;
    font-size: 12px;
}

.footdiv {
    position: absolute;
    bottom: 0;
    left: 50%;
}