/*Main style sheet for portfolio */



/* set all fonts to those listed below */

* {
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}


/* Set headings to the fonts listed below */


h1, h2, h3, h4, h5, h6 {
    font-family: 'Georgia', Times, 'Times New Roman', serif;
}


/* add in the background pattern */

body {
    background-image: url("../images/what-the-hex/what-the-hex.png");
}

/* style the header bar */

.header-bar {

}

/*style the content sections*/

section{
    width: 960px;
    padding:0;
    margin-left: auto;
    margin-right: auto;
}

.profile-image{
    width: 200px;
    height: auto;
}